@import "icon";
body {
  font-size: 14px;
  color: #333;
}

.container {
  width: 560px;
  margin: 0 auto;
}

.content {
  margin-top: 80px;
}

.info {
  padding-bottom: 20px;
  text-align: center;
  .avatar {
    img {
      padding: 5px;
      background: #f2f2f2;
      border-radius: 3px;
      height: 160px;
    }
  }
}

.description {
  padding: 20px 0;
  h2,
  h3 {
    margin: 0;
    padding: 0;
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  blockquote {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
    &::before,
    &::after {
      display: inline-block;
      position: absolute;
      font-family: "iconfont" !important;
      font-size: 18px;
      height: 30px;
      line-height: 30px;
      width: 30px;
      background: #fff;
      text-align: center;
      color: #666;
    }
    &::before {
      content: '\e60f';
      background: #fff;
      top: -15px;
      left: -10px;
    }
    &::after {
      content: '\e60e';
      bottom: -15px;
      right: -10px;
    }
  }
  .social {
    padding-left: 20px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      li {
        display: inline-block;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 40px;
        cursor: pointer;
        a {
          text-decoration: none;
          color: #333;
        }
        &:hover {
          border-bottom: 1px solid #e4e4e4;
        }
      }
    }
  }
}
